body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1100px;
  top:5px;
  width:40px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:24px;
  top:11px;
  width:145px;
  height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1050px;
  top:9px;
  width:35px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1071px;
  top:8px;
  width:10px;
  height:10px;
  color:transparent;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:228px;
  top:17px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:327px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:453px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:580px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1100px;
  top:45px;
  width:140px;
  height:115px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:43px;
  top:20px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:43px;
  top:60px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:15px;
  top:21px;
  width:15px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:15px;
  top:60px;
  width:15px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:50px;
  top:134px;
  width:870px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:853px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:870px;
  height:1px;
}
#u31 {
  position:absolute;
  left:49px;
  top:110px;
  width:100px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:95px;
  top:171px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:95px;
  top:245px;
  width:55px;
  height:16px;
  color:#0000FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:95px;
  top:282px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:95px;
  top:319px;
  width:31px;
  height:16px;
  color:#0000FF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:153px;
  top:171px;
  width:123px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:240px;
  top:171px;
  width:51px;
  height:16px;
  color:#0000FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:95px;
  top:208px;
  width:41px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:143px;
  top:208px;
  width:100px;
  height:16px;
  color:#0000FF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:240px;
  top:208px;
  width:29px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:119px;
  top:245px;
  width:31px;
  height:16px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:150px;
  top:245px;
  width:130px;
  height:16px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:149px;
  top:282px;
  width:104px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:257px;
  top:282px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:228px;
  top:319px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:122px;
  top:319px;
  width:114px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:66px;
  top:170px;
  width:20px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:66px;
  top:204px;
  width:20px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:66px;
  top:243px;
  width:20px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:66px;
  top:282px;
  width:20px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:66px;
  top:317px;
  width:20px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:95px;
  top:360px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:95px;
  top:434px;
  width:135px;
  height:16px;
  color:#0000FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:95px;
  top:471px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:95px;
  top:508px;
  width:31px;
  height:16px;
  color:#0000FF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:153px;
  top:360px;
  width:123px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:285px;
  top:360px;
  width:51px;
  height:16px;
  color:#0000FF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:95px;
  top:397px;
  width:272px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:134px;
  top:434px;
  width:75px;
  height:16px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:213px;
  top:434px;
  width:154px;
  height:16px;
  color:#0000FF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:149px;
  top:471px;
  width:104px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:257px;
  top:471px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:264px;
  top:509px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:122px;
  top:508px;
  width:182px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:66px;
  top:359px;
  width:20px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:66px;
  top:393px;
  width:20px;
  height:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:66px;
  top:432px;
  width:20px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:66px;
  top:471px;
  width:20px;
  height:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:66px;
  top:506px;
  width:20px;
  height:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:218px;
  top:397px;
  width:51px;
  height:16px;
  color:#0000FF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:810px;
  top:174px;
  width:94px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:810px;
  top:207px;
  width:94px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:810px;
  top:241px;
  width:94px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:810px;
  top:274px;
  width:94px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:810px;
  top:308px;
  width:94px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:810px;
  top:341px;
  width:94px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:810px;
  top:508px;
  width:94px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:810px;
  top:374px;
  width:94px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:810px;
  top:408px;
  width:94px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:810px;
  top:441px;
  width:94px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:810px;
  top:475px;
  width:94px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:95px;
  top:545px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:95px;
  top:619px;
  width:55px;
  height:16px;
  color:#0000FF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:95px;
  top:656px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:95px;
  top:693px;
  width:31px;
  height:16px;
  color:#0000FF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:153px;
  top:545px;
  width:123px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:240px;
  top:545px;
  width:51px;
  height:16px;
  color:#0000FF;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:95px;
  top:582px;
  width:41px;
  height:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:143px;
  top:582px;
  width:100px;
  height:16px;
  color:#0000FF;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:240px;
  top:582px;
  width:29px;
  height:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:119px;
  top:619px;
  width:31px;
  height:16px;
  color:#000000;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:150px;
  top:619px;
  width:130px;
  height:16px;
  color:#000000;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:149px;
  top:656px;
  width:104px;
  height:16px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:257px;
  top:656px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:228px;
  top:693px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:122px;
  top:693px;
  width:114px;
  height:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:66px;
  top:544px;
  width:20px;
  height:20px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u164 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:66px;
  top:578px;
  width:20px;
  height:20px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u166 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:66px;
  top:617px;
  width:20px;
  height:20px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u168 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:66px;
  top:656px;
  width:20px;
  height:20px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u170 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:66px;
  top:691px;
  width:20px;
  height:20px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u172 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:95px;
  top:734px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:95px;
  top:808px;
  width:135px;
  height:16px;
  color:#0000FF;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:95px;
  top:845px;
  width:58px;
  height:16px;
  color:#0000FF;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:95px;
  top:882px;
  width:31px;
  height:16px;
  color:#0000FF;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:153px;
  top:734px;
  width:123px;
  height:16px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:285px;
  top:734px;
  width:51px;
  height:16px;
  color:#0000FF;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:95px;
  top:771px;
  width:272px;
  height:16px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:134px;
  top:808px;
  width:75px;
  height:16px;
  color:#000000;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:213px;
  top:808px;
  width:154px;
  height:16px;
  color:#0000FF;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:149px;
  top:845px;
  width:104px;
  height:16px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:257px;
  top:845px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:264px;
  top:883px;
  width:110px;
  height:16px;
  color:#0000FF;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:122px;
  top:882px;
  width:182px;
  height:16px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:66px;
  top:733px;
  width:20px;
  height:20px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:66px;
  top:767px;
  width:20px;
  height:20px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u202 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:66px;
  top:806px;
  width:20px;
  height:20px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u204 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:66px;
  top:845px;
  width:20px;
  height:20px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u206 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:66px;
  top:880px;
  width:20px;
  height:20px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u208 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:218px;
  top:771px;
  width:51px;
  height:16px;
  color:#0000FF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:810px;
  top:548px;
  width:94px;
  height:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:810px;
  top:581px;
  width:94px;
  height:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:810px;
  top:615px;
  width:94px;
  height:16px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:810px;
  top:648px;
  width:94px;
  height:16px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:810px;
  top:682px;
  width:94px;
  height:16px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:810px;
  top:715px;
  width:94px;
  height:16px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:810px;
  top:882px;
  width:94px;
  height:16px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u225 {
  position:absolute;
  left:810px;
  top:748px;
  width:94px;
  height:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u227 {
  position:absolute;
  left:810px;
  top:782px;
  width:94px;
  height:16px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u229 {
  position:absolute;
  left:810px;
  top:815px;
  width:94px;
  height:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:810px;
  top:849px;
  width:94px;
  height:16px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u233 {
  position:absolute;
  left:470px;
  top:960px;
  width:100px;
  height:25px;
}
#u233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u234 {
  position:absolute;
  left:78px;
  top:1054px;
  width:216px;
  height:16px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
