body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:0px;
  width:1180px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1110px;
  top:5px;
  width:40px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:34px;
  top:11px;
  width:145px;
  height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1054px;
  top:9px;
  width:35px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1075px;
  top:8px;
  width:10px;
  height:10px;
  color:transparent;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:238px;
  top:17px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:337px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:463px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:590px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1110px;
  top:45px;
  width:140px;
  height:115px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:43px;
  top:20px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:43px;
  top:60px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:15px;
  top:21px;
  width:15px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:15px;
  top:60px;
  width:15px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:316px;
  top:5px;
  width:94px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:238px;
  top:17px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:337px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:463px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:590px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:38px;
  top:240px;
  width:1032px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:1015px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1032px;
  height:1px;
}
#u41 {
  position:absolute;
  left:938px;
  top:134px;
  width:18px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u42 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1019px;
  top:134px;
  width:18px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u44 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:46px;
  top:77px;
  width:109px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:69px;
  top:216px;
  width:100px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:169px;
  top:216px;
  width:100px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:269px;
  top:216px;
  width:100px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:78px;
  top:294px;
  width:105px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:257px;
  top:294px;
  width:50px;
  height:16px;
  color:#0000FF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:537px;
  top:300px;
  width:74px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:77px;
  top:340px;
  width:105px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:256px;
  top:340px;
  width:23px;
  height:16px;
  color:#0000FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:536px;
  top:346px;
  width:94px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:78px;
  top:276px;
  width:662px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:645px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:662px;
  height:1px;
}
#u66 {
  position:absolute;
  left:110px;
  top:260px;
  width:27px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:256px;
  top:260px;
  width:40px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:542px;
  top:260px;
  width:27px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:78px;
  top:381px;
  width:105px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:257px;
  top:381px;
  width:23px;
  height:16px;
  color:#0000FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:537px;
  top:387px;
  width:92px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:78px;
  top:427px;
  width:105px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:257px;
  top:427px;
  width:23px;
  height:16px;
  color:#0000FF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:537px;
  top:433px;
  width:87px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:78px;
  top:473px;
  width:105px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:257px;
  top:473px;
  width:53px;
  height:16px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:537px;
  top:479px;
  width:79px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:778px;
  top:276px;
  width:232px;
  height:94px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:94px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:78px;
  top:510px;
  width:105px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:257px;
  top:510px;
  width:23px;
  height:16px;
  color:#0000FF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:537px;
  top:516px;
  width:105px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:980px;
  top:134px;
  width:20px;
  height:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:75px;
  top:119px;
  width:147px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:26px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:101px;
  top:163px;
  width:121px;
  height:16px;
  color:#666666;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:260px;
  top:163px;
  width:109px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:420px;
  top:163px;
  width:140px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:610px;
  top:163px;
  width:53px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:673px;
  top:163px;
  width:277px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:75px;
  top:156px;
  width:20px;
  height:23px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
