body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:260px;
  width:490px;
  height:52px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:52px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u1 {
  position:absolute;
  left:710px;
  top:266px;
  width:190px;
  height:40px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:10px;
  top:0px;
  width:1180px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:34px;
  top:11px;
  width:145px;
  height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:337px;
  top:17px;
  width:1px;
  height:16px;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:883px;
  top:17px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1092px;
  top:17px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:200px;
  top:110px;
  width:820px;
  height:390px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:390px;
}
#u14 {
  position:absolute;
  left:2px;
  top:187px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:440px;
  top:235px;
  width:340px;
  height:45px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:331px;
  top:250px;
  width:79px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:440px;
  top:320px;
  width:340px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:232px;
  top:122px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:190px;
  top:342px;
  width:701px;
  height:50px;
  overflow:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:10px;
  top:0px;
  width:670px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:38px;
  top:14px;
  width:160px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u22_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:10px;
  top:0px;
  width:670px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:38px;
  top:14px;
  width:160px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
