body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:197px;
  width:27px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:50px;
  top:100px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:10px;
  top:0px;
  width:1180px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1110px;
  top:5px;
  width:40px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:34px;
  top:11px;
  width:145px;
  height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1054px;
  top:9px;
  width:35px;
  height:35px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1075px;
  top:8px;
  width:10px;
  height:10px;
  color:transparent;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:238px;
  top:17px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:337px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:463px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:590px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:1110px;
  top:45px;
  width:140px;
  height:115px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:43px;
  top:20px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:43px;
  top:60px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:15px;
  top:21px;
  width:15px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:15px;
  top:60px;
  width:15px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:130px;
  width:90px;
  height:37px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:50px;
  top:230px;
  width:150px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:200px;
  top:230px;
  width:90px;
  height:37px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:297px;
  width:53px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:50px;
  top:324px;
  width:65px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:50px;
  top:370px;
  width:40px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:50px;
  top:400px;
  width:30px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:90px;
  top:407px;
  width:113px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:390px;
  top:90px;
  width:600px;
  height:360px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:360px;
}
#u51 {
  position:absolute;
  left:2px;
  top:172px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:428px;
  top:197px;
  width:53px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:738px;
  top:237px;
  width:50px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:435px;
  top:245px;
  width:40px;
  height:40px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:500px;
  top:259px;
  width:99px;
  height:28px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:808px;
  top:259px;
  width:110px;
  height:28px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:431px;
  top:340px;
  width:50px;
  height:50px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:500px;
  top:357px;
  width:123px;
  height:28px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:738px;
  top:340px;
  width:50px;
  height:50px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:802px;
  top:351px;
  width:163px;
  height:28px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:428px;
  top:100px;
  width:27px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:446px;
  top:133px;
  width:97px;
  height:37px;
  color:#0000FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
