body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:66px;
  width:880px;
  height:630px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:630px;
}
#u1 {
  position:absolute;
  left:2px;
  top:307px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:135px;
  top:70px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:110px;
  top:103px;
  width:880px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:863px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:880px;
  height:1px;
}
#u5 {
  position:absolute;
  left:210px;
  top:429px;
  width:701px;
  height:178px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:178px;
}
#u6 {
  position:absolute;
  left:2px;
  top:81px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:210px;
  top:469px;
  width:701px;
  height:29px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:29px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:250px;
  top:134px;
  width:264px;
  height:29px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:546px;
  top:141px;
  width:21px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:250px;
  top:199px;
  width:264px;
  height:177px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13 {
  position:absolute;
  left:597px;
  top:134px;
  width:264px;
  height:29px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:250px;
  top:390px;
  width:83px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:217px;
  top:476px;
  width:361px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:217px;
  top:511px;
  width:361px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:217px;
  top:544px;
  width:361px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:841px;
  top:476px;
  width:30px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:225px;
  top:441px;
  width:40px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:843px;
  top:441px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:210px;
  top:458px;
  width:701px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:684px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:701px;
  height:1px;
}
#u28 {
  position:absolute;
  left:898px;
  top:465px;
  width:12px;
  height:142px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:142px;
}
#u29 {
  position:absolute;
  left:2px;
  top:63px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:898px;
  top:465px;
  width:13px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:841px;
  top:511px;
  width:30px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:841px;
  top:544px;
  width:30px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:936px;
  top:73px;
  width:14px;
  height:24px;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:250px;
  top:174px;
  width:260px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:255px;
  top:177px;
  width:22px;
  height:21px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:597px;
  top:174px;
  width:260px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:602px;
  top:177px;
  width:22px;
  height:21px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:630px;
  top:632px;
  width:100px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:400px;
  top:632px;
  width:100px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:596px;
  top:199px;
  width:264px;
  height:177px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u49 {
  position:absolute;
  left:366px;
  top:390px;
  width:550px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  white-space:nowrap;
}
