body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:189px;
  top:111px;
  width:571px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:567px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:212px;
  top:497px;
  width:537px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:218px;
  top:122px;
  width:67px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:740px;
  top:497px;
  width:9px;
  height:120px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:120px;
}
#u7 {
  position:absolute;
  left:2px;
  top:52px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:741px;
  top:497px;
  width:5px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:190px;
  top:145px;
  width:570px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u11 {
  position:absolute;
  left:320px;
  top:157px;
  width:260px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:324px;
  top:161px;
  width:22px;
  height:21px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:236px;
  top:199px;
  width:84px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:236px;
  top:234px;
  width:87px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:236px;
  top:269px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:236px;
  top:303px;
  width:57px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:236px;
  top:338px;
  width:57px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:236px;
  top:373px;
  width:57px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:660px;
  top:204px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:660px;
  top:234px;
  width:100px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:660px;
  top:269px;
  width:100px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:660px;
  top:303px;
  width:100px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:660px;
  top:338px;
  width:100px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:660px;
  top:373px;
  width:100px;
  height:16px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:236px;
  top:511px;
  width:84px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:394px;
  top:425px;
  width:52px;
  height:16px;
  color:#0000FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:528px;
  top:425px;
  width:52px;
  height:16px;
  color:#0000FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:355px;
  top:511px;
  width:76px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:211px;
  top:471px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:211px;
  top:161px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:190px;
  top:457px;
  width:570px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u51 {
  position:absolute;
  left:520px;
  top:636px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:360px;
  top:636px;
  width:100px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:190px;
  top:6px;
  width:570px;
  height:96px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:96px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  word-wrap:break-word;
}
