body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:228px;
  top:138px;
  width:582px;
  height:290px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:137px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:145px;
  width:536px;
  height:290px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:42px;
  top:106px;
  width:100px;
  height:16px;
}
#u4 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5 {
  position:absolute;
  left:42px;
  top:9px;
  width:163px;
  height:16px;
}
#u6 {
  position:absolute;
  left:16px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u5_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7 {
  position:absolute;
  left:90px;
  top:250px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:220px;
  top:250px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:111px;
  top:39px;
  width:78px;
  height:30px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:84px;
  top:105px;
  width:52px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:147px;
  top:106px;
  width:79px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:78px;
  top:6px;
  width:52px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:140px;
  top:9px;
  width:130px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:46px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:42px;
  top:164px;
  width:100px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:228px;
  top:100px;
  width:582px;
  height:38px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:38px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:242px;
  top:111px;
  width:105px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:768px;
  top:111px;
  width:8px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
