body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:9px;
  top:0px;
  width:1180px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1109px;
  top:5px;
  width:40px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:33px;
  top:11px;
  width:145px;
  height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1059px;
  top:9px;
  width:35px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1080px;
  top:8px;
  width:10px;
  height:10px;
  color:transparent;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:237px;
  top:17px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:336px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:462px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:589px;
  top:17px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1109px;
  top:45px;
  width:140px;
  height:115px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:43px;
  top:20px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:43px;
  top:60px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:15px;
  top:21px;
  width:15px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:15px;
  top:60px;
  width:15px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:78px;
  width:340px;
  height:22px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:46px;
  top:130px;
  width:85px;
  height:48px;
  font-size:14px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:48px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:389px;
  top:50px;
  width:801px;
  height:480px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:480px;
}
#u35 {
  position:absolute;
  left:2px;
  top:232px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:865px;
  top:465px;
  width:230px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1110px;
  top:455px;
  width:50px;
  height:45px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:570px;
  top:96px;
  width:470px;
  height:325px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:325px;
}
#u41 {
  position:absolute;
  left:2px;
  top:154px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
