body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:65px;
  top:83px;
  width:960px;
  height:53px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:53px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:9px;
  top:0px;
  width:1180px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1109px;
  top:5px;
  width:40px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:33px;
  top:11px;
  width:145px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:90px;
  top:100px;
  width:935px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:389px;
  top:180px;
  width:267px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
